<div class="row f-center f-direction">
    <div class="bg shadow todo-w">
      <input #all id="toggle-all" class="toggle-all" type="checkbox">
      <label for="toggle-all" (click)="toggleAll(all)"></label>
      <input type="text" (keyup)="addTodo($event)" class="new-todo" placeholder="What needs to be done?" autofocus>
    </div>
    <section class="main shadow" *ngIf="loadedList.length >= 1 && !isLoading">
      <div class="bg todo-w">
        <app-todo (todoId)="deleteId($event)" *ngFor="let item of showList()" [todo]="item"></app-todo>
      </div>
      <div class="footer" >
        <span class="todo-count"><strong>{{ countActive() }}</strong> item left</span>
        <ul class="filters">
          <li>
            <a class="selected" (click)="showStatus=-1">All</a>
          </li>
          <li>
            <a (click)="showStatus=0">Active</a>
          </li>
          <li>
            <a (click)="showStatus=1">Completed</a>
          </li>
        </ul>
        <button class="clear-completed" [ngStyle]="{ display: findCompleted()? 'block': 'none'}" (click)="clearComplete"></button>
      </div>
    </section>
</div>