<div class="row f-center f-direction">
    <div class="bg shadow">
      <input [checked]="countActive() == 0" id="toggle-all" class="toggle-all" type="checkbox" (click)="toggleAll()">
      <label for="toggle-all"></label>
      <input type="text" (keyup)="addTodo($event)" class="new-todo todo-w" placeholder="What needs to be done?" autofocus>
    </div>
    <section class="main shadow" *ngIf="loadedList.length >= 1 && !isLoading">
      <div class="bg todo-w">
        <app-todo (todoId)="deleteId($event)" (updateTodo)="updateTodoItem($event)" *ngFor="let item of showList()" [todo]="item"></app-todo>
      </div>
      <div class="footer" >
        <span class="todo-count"><strong>{{ countActive() }}</strong> item left</span>
        <ul class="filters">
          <li>
            <a [class.selected]="showStatus == -1" (click)="showStatus=-1">All</a>
          </li>
          <li>
            <a [class.selected]="showStatus == 0" (click)="showStatus=0">Active</a>
          </li>
          <li>
            <a [class.selected]="showStatus == 1" (click)="showStatus=1">Completed</a>
          </li>
        </ul>
        <button class="clear-completed" [ngStyle]="{ display: findCompleted()? 'block': 'none'}"  (click)="clearComplete()">Clear completed</button>
      </div>
    </section>
    <nav aria-label="Page navigation" *ngIf="totalTodoCount > pageItemLimit">
      <ul class="pagination">
        <li>
          <a (click)="goPrevious()" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li [class.active]="page === (i+1)" *ngFor="let item of [].constructor(pageSize) ;let i = index" (click)="goPage(i+1)"><a href="#">{{ i+1 }}</a></li>

        <li>
          <a (click)="goNext()" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>